# Ignore Cache
__pycache__/
.ipynb_checkpoints/
.vscode/
.venv

# Collected data
output/

# session_file.session
session_file.session
session_file.session-journal

# files
test.py

# virtual environment
venv/
